<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cebc5b7003.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/index.css">
</head>
<body id="article">
    <nav>
        <li><a href="/">Home</a></li>
        <li><a href="/stories">Stories</a></li>
        <li><a href="/new">Share</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="/logout">Logout</a></li>
        <li id="ham"><i class="fas fa-bars"></i></li>
    </nav>
    <img id="loo" src="/logo1.png">
    <div>d</div>

    <div id="collapsed">
        <li><i class="fas fa-times"></i><a href="/">Home</a></li>
        <li><a href="/stories">Stories</a></li>
        <li><a href="/new">Share</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="/logout">Logout</a></li>
    </div>
    <% if(message != ''){ %>
        <div class="container" style="padding-top: 16px; text-align: center; position: absolute; top: 70px;">
            <div class="alert alert-success" role="alert"> <%= message %></div>
        </div>    
    <% } %>
    <div class="fulldivparent" style="background-image:linear-gradient(to left, rgba(253, 252, 252, 0.096), rgb(255, 253, 253)), url(<%=blog.blog.image%>);">
        <div class="fulldiv">
            <div>
                <h3 style="text-transform: capitalize;"><%=blog.blog.name%></h3>
                <aside class="author">
                    <p><strong><%=blog.blog.time.toDateString()%></strong></p>
                    <p>By <strong style="text-transform: capitalize;"><%=blog.user.username%></strong></p>
                </aside>
                <p class="paragraph"><%=blog.blog.body%></p>
                <!-- <a href="/stories/<%=blog.blog.id%>" class="delete">Delete</a> -->
                <% if(currentUser && blog.blog.author.equals(currentUser._id)){ %>
                <form action="/stories/<%=blog.blog._id%>?_method=DELETE" method="POST" class="delete">  
                    <button>Delete</button>
                </form>
                <a href="/stories/<%=blog.blog.id%>/edit" class="edit">Edit</a>
                <% } %>
            </div>
        </div>
    </div>

<script src="/jsstories.js"></script>
</body>
</html>